body {
  background-image: url("https://cdn.discordapp.com/attachments/1241362916188618785/1245740929197805568/300947e87fa31473bf579ecc05f3e9b7.jpg?ex=665a82e6&is=66593166&hm=43a5173726bd0f25e8d176fd9b5028dca79c1c2a3020a50275f42534edbc66b2&");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

img {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-top: -10px;
}

.img2 {
  width: 16%;
  margin-top: 20px;
  right: 200px;
  height: auto;
}
