body {
  background-image: url("https://cdn.discordapp.com/attachments/1241362916188618785/1245740929197805568/300947e87fa31473bf579ecc05f3e9b7.jpg?ex=6659da26&is=665888a6&hm=adc9d1cceece3ab9acb7419bc0d850e2155af379128e1fc89cdd67cd03af5e5c&");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

img {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-top: -10px;
}

.img2 {
  width: 16%;
  margin-top: 20px;
  right: 200px;
  height: auto;
}
